@import "@vars";
.user{
    display: grid;
    grid-auto-flow: rows;
    grid-gap: 16px;
    @include media-up($breakpoint-sm){
        grid-gap: 24px;
    }
    &__welcome{
        font-size: 40px;
        margin: 30px 0;
    }
}