html {
  //Principal
  --clr-salmon: #e1765a;
   --clr-yellow: #e3d45a;
   --clr-purple: #855be2;
   --clr-green: #5dbe74;
   --clr-dark: #202124;
   --clr-gray: #5f6368;
   --clr-light: #f6f6f6;
  //Background
  --clr-bg-primary: #f6f6f6;
  --clr-border-primary: #dadce0;

  --clr-contrast: #202124;
}
